.pTextAboutUs {
    margin-top: 80px;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50pt;
    text-align: end;
    flex-wrap: wrap;
    color: #f8f1eb;
    margin-top: 150px;
}

.logoTextColorAboutUs {
    color: #ff5a1a;
}

.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pAboutUs {
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f8f1eb;
    font-size: 20pt;
    width: 70%;
    text-align: center;
    margin-top: 40px;

    /* Faz a animação aparecer */
    animation: appear 0.5s linear;

    /* Faz a animação aparecer somente quando acontece o scroll */
    animation-timeline: view();

    /* Faz a animação aparecer totalmente na view */
    animation-range: entry 0;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@media (max-width:600px) {
    .aboutUs {
        height: auto;
        padding-bottom: 50px;
    }

    .pTextAboutUs {
        font-size: 35pt;
        text-align: center;
        margin-top: 40px;
    }
}