.menuBar {
    background: #29374900;
    background: rgba(0, 128, 0, 0);
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: fixed;
    z-index: 100;
}

.menuBarDesk {
    background: #293749;
    width: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0px;
    position: fixed;
    z-index: 100;
}

.btnMenuBarMobile {
    background: #ff5a1a;
    color: white;
    padding: 20px;
    position: fixed;
    transition: all ease-in-out .4s;
    font-family: "Kosugi Maru", sans-serif;
    font-size: 14pt;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    border-radius: 0px 0px 100% 0px;
}

.btnMenuBarMobile.activeMenuStudent {
    border-radius: 0px 0px 0px 0px;
}

.btnMenuBarMobile::after {
    content: '=';
}

.btnMenuBarMobile.activeMenuStudent::after {
    content: 'x';
}

.linkMenuBar {
    background: #f8f1eb00;
    color: #f8f1eb;
    margin-top: 20px;
    width: 90%;
    border-radius: 20px 0px 0px 20px;
    padding: 15px;
    transition: all 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border: none;
    cursor: pointer;
    font-family: "Kosugi Maru", sans-serif;
    font-size: 14pt;
}

.linkMenuBar:hover,
.linkMenuBar2:hover {
    background: #f8f1eb;
    background: #ff5a1a;
    color: #293749;
    color: #f8f1eb;
    box-shadow: none;

    box-shadow: rgba(0, 0, 0, 0) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.linkMenuBar2 {
    background: #f8f1eb00;
    color: #f8f1eb;
    margin-top: 20px;
    width: 77%;
    border-radius: 20px 0px 0px 20px;
    padding: 15px;
    transition: all 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border: none;
    cursor: pointer;
    font-family: "Kosugi Maru", sans-serif;
    font-size: 14pt;
}

@media (MAX-WIDTH:800px) {
    .menuBarDesk {
        margin-left: -500px;
        transition: all ease-in-out .4s;
        position: relative;
    }

    .menuBarDesk.activeMenuStudent {
        margin-left: 0px;
    }

    .btnMenuBarMobile {
        position: relative;
    }

}