.containerQuizGameTranslate {
    background: rgba(255, 0, 0, 0);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barProgress {
    background: #293749;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.contentQuizGame {
    background: #f8f1eb;
    color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.progress {
    border: 2px solid #a52f00;
    width: 200px;
    height: 30px;
    background: #ff9368;
    ;
}

.bar {
    background: #ff5a1a;
    width: 0%;
    height: 30px;
    transition: all .5s;
    border-right: 5px solid #a52f00;
}

.questions {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnCheck {
    background: #ff5b1a00;
    color: #ff5a1a;
    border: 2px solid #ff5a1a;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .4s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.btnCheck:hover {
    background: #ff5a1a;
    color: #f8f1eb;
    border: 2px solid transparent;
}